* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 0.3rem;
  height: 100vh;
}
header {
  min-height: 20%;
  display: grid;
  gap: 0.4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}
header div {
  background-color: rgb(157, 56, 172);
}

main {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main div {
  background-color: pink;
  height: 30%;
}
footer {
  min-height: 15%;
  background-color: green;
}
@media screen and (min-width: 400px) {
  header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main div {
    width: 33%;
    height: 95%;
  }
}
